<div class="profile-info-container">
    <div class="profile-picture-container">
        <img style="max-width:307.75px" src="assets/pictures/Ded Inside.png" alt="Image"/>
    </div>
    <div class="profile-info-container-text">
        <h2 class="profile-info-h3">UI/UX Designer & Web Developer</h2>
        <i class="profile-info-quote">There are only patterns, patterns on top of patterns, patterns that affect other patterns. Patterns hidden by patterns. Patterns within patterns. Patterns hidden by patterns. Patterns within patterns. </i>
        <div class="profile-sheet-container">
            <div class="profile-info-sheet">
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Birthday:</strong></span> 1 May 1995</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Website:</strong></span> www.example.com</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Phone:</strong></span> +123456789</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>City:</strong></span> New York, USA</span>
                </div>
            </div>
            <div class="profile-info-sheet">
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Age:</strong></span> 30</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Degree:</strong></span> Master</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>PhEmailOne:</strong></span> example@example.com</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Freelance:</strong></span> Available</span>
                </div>
            </div>
        </div>
        <div class="profile-info-desc">
            We may seek, too, a relaxing of inhibitions that makes it easier to bond with each other, or transports that make our consciousness of time and mortality easier to bear. We seek a holiday from our inner and outer restrictions, a more intense sense of the here and now, the beauty and value of the world we live in.
        </div>
    </div>
</div>