<div class="profile-info-container">
    <div style="max-width:307.75px">
        <img style="max-width:307.75px" src="assets/pictures/Ded Inside.png" alt="Image"/>
    </div>
    <div class="profile-info-container-text">
        <h3 class="profile-info-h3">UI/UX Designer & Web Developer</h3>
        <i>There are only patterns, patterns on top of patterns, patterns that affect other patterns. Patterns hidden by patterns. Patterns within patterns. </i>
        <div style="display:flex">
            <div class="profile-info-sheet">
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Birthday:</strong></span> 1 May 1995</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Website:</strong></span> www.example.com</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Birthday:</strong></span> 1 May 1995</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Birthday:</strong></span> 1 May 1995</span>
                </div>
            </div>
            <div class="profile-info-sheet">
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Birthday:</strong></span> 1 May 1995</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Birthday:</strong></span> 1 May 1995</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Birthday:</strong></span> 1 May 1995</span>
                </div>
                <div class="profile-details">
                    <i class="fas fa-angle-right blue-text"></i><strong>Birthday:</strong></span> 1 May 1995</span>
                </div>
            </div>
        </div>
        <div class="profile-info-desc">
            We may seek, too, a relaxing of inhibitions that makes it easier to bond with each other, or transports that make our consciousness of time and mortality easier to bear. We seek a holiday from our inner and outer restrictions, a more intense sense of the here and now, the beauty and value of the world we live in.
        </div>
    </div>
</div>