<head>
<link rel="stylesheet" href="/assets/css/sidebar.css">
</head>
<body>
<div class="sidebarContainer">
<img src="/assets/pictures/Ded Inside.png" alt="" class="sidebarPicture">
 <h1>POTATO</h1>
</div>
</body>