<head>
<link rel="stylesheet" href="/assets/css/sidebar.css">

</head>
<body>
<div class="sidebar-container">
    <img src="/assets/pictures/Ded Inside.png" alt="" class="sidebar-picture">
    <h1>POTATO</h1>
    <div class="sidebar-icons">
        <img src="/assets/pictures/twitterIcon.svg" alt="">
        <img src="/assets/pictures/facebookIcon.svg" alt="">
        <img src="/assets/pictures/instagramIcon.svg" alt="">
        <img src="/assets/pictures/skypeIcon.svg" alt="">
        <img src="/assets/pictures/linkedinIcon.svg" alt="">
    </div>
        <a href=""><i class="fas fa-home"></i>&nbsp;&nbsp;<span class="sidebar-menu-text">Home</span></a>
        <a href="">&nbsp;<i class="fas fa-portrait "></i>&nbsp;&nbsp;<span class="sidebar-menu-text">About</span></a>
        <a href="">&nbsp;<i class="far fa-file"></i>&nbsp;&nbsp;<span class="sidebar-menu-text">Resume</span></a>
        <a href=""><i class="fas fa-money-check"></i>&nbsp;<span class="sidebar-menu-text">Portfolio</span></a>
        <a href="">&nbsp;<i class="fas fa-server"></i>&nbsp;<span class="sidebar-menu-text">Services</span></a>
        <a href="">&nbsp;<i class="far fa-envelope"></i>&nbsp;<span class="sidebar-menu-text">Contact</span></a>
    <div class="sidebar-footer">
        <p >Copyright iPortfolio <br> Designed by <a href="https://beex.asia">BeeX</a></p> 
    </div>
</div>

</body>