<head>
<link rel="stylesheet" href="/assets/css/sidebar.css">

</head>
<body>
<div class="sidebar-container">
<img src="/assets/pictures/Ded Inside.png" alt="" class="sidebar-picture">
<h1>POTATO</h1>
<div class="sidebar-icons">
    <img src="/assets/pictures/twitterIcon.svg" alt="">
    <img src="/assets/pictures/facebookIcon.svg" alt="">
    <img src="/assets/pictures/instagramIcon.svg" alt="">
    <img src="/assets/pictures/skypeIcon.svg" alt="">
    <img src="/assets/pictures/linkedinIcon.svg" alt="">
</div>
<a href="">Home</a>
<a href="">About</a>
<a href="">Resume</a>
<a href="">Portfolio</a>
<a href="">Services</a>
<a href="">Contact</a>
<p class="sidebar-footer">Copyright iPortfolio <br> Designed by <a href="https://beex.asia">BeeX</a></p> 
</div>

</body>