<head>
<link rel="stylesheet" href="/assets/css/sidebar.css">

</head>
<body>
    <div class="sidebar-container" id="hidden" >
        <img src="/assets/pictures/Ded Inside.png" alt="" class="sidebar-picture">
        <h1>POTATO</h1>
        <div class="sidebar-icons">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-skype"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="sidebar-menu" >
            <a href=""><i class="fas fa-home"></i>&nbsp;&nbsp;<span class="sidebar-menu-text">Home</span></a>
            <a href="">&nbsp;<i class="fas fa-portrait "></i>&nbsp;&nbsp;<span class="sidebar-menu-text">About</span></a>
            <a href="">&nbsp;<i class="far fa-file"></i>&nbsp;&nbsp;<span class="sidebar-menu-text">Resume</span></a>
            <a href=""><i class="fas fa-money-check"></i>&nbsp;<span class="sidebar-menu-text">Portfolio</span></a>
            <a href="">&nbsp;<i class="fas fa-server"></i>&nbsp;<span class="sidebar-menu-text">Services</span></a>
            <a href="">&nbsp;<i class="far fa-envelope"></i>&nbsp;<span class="sidebar-menu-text">Contact</span></a>
        </div>    
        <div class="sidebar-footer">
            <p >Copyright iPortfolio <br> Designed by <a href="https://beex.asia">BeeX</a></p> 
        </div>
        <div >
        </div>
    </div>


</body>