<head>
    <link rel="stylesheet" href="/assets/css/profileFact.css">
</head>
<div class="worker-stat">
    <img src="/assets/pictures/Smile_Image.png" alt="👻" class="simple-icon"/>
    <div class="worker-stat-content">
        <div class="stat-number">
            232            
        </div>
        <div class = "stat-description">
            <p><strong>Happy clients</strong> Nói cái gì đó</p>
        </div>
    </div>
</div>
