<head>
    <link rel="stylesheet" href="/assets/css/profileFact.css">
</head>
<div class="workerStat">
    <img src="" alt="Icon"/>
    <div class="workerStatContent">
        <div>
            content-header            
        </div>
        <div>
            stat-description
        </div>
    </div>
</div>
