<head>
    <link rel="stylesheet" href="/assets/css/profileFact.css">
</head>
<div class="worker-stat">
    <i class="fas fa-angry" style="font-size: 35px; margin-top: 0.25em; color: #0C9"></i>
    <div class="worker-stat-content">
        <div class="stat-number">
            521           
        </div>
        <div class = "stat-description">
            <p><strong>Projects</strong> Nói cái gì đó</p>
        </div>
    </div>
</div>
