.profile-info-container-text{
    display:flex;
    margin:5px;
    flex-direction:column;
    flex-wrap: wrap;
}
.blue-text{
    color:blue;
    margin-right: 3px;
}
.profile-info-desc{
    margin-top:10px;
}
.profile-info-container{
    display: flex;
}
.profile-info-sheet{
    display:flex;
    min-width:50%;
    flex-direction: column;
    margin-top: 10px;
}
.profile-info-h3{
    color:darkblue
}
.profile-details{
    margin:5px
}

@media screen and (max-width:995px){
  .profile-info-container{
      display: flex;
      flex-direction:column;
  }
}
