.fact{
    color: rgb(34, 54, 90);
}
.blue-dash-sympol{
    margin-top: -0.5em;
    color: rgb(41, 205, 255);
}
.worker-stat-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stat-number{
    font-weight: bold;
    font-size: 3em;
}
.worker-stat{
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-width: 15%;
}
.simple-icon{
    max-width: 45%;
    max-height: 45%;
}
.stat-description{
    color: rgb(34, 54, 90);
}

