.workerStatContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.workerStat{
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-width: 15%;
}
