.blueDashSympol{
    margin-top: -2em;
    color: rgb(41, 205, 255);
}
.workerStatContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.workerStat{
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-width: 15%;
}
.simpleIcon{
    max-width: 45%;
    max-height: 45%;
}