.profile-info-container-text{
    display:flex;
    margin:5px;
    flex-direction:column;
    
}
.blue-text{
    color:blue;
    margin-right: 3px;
}
.profile-info-desc{
    margin-top:10px;
}
.profile-info-container{
    display: flex;
    letter-spacing: -0.01rem;
}
.profile-info-sheet{
    display:flex;
    min-width:50%;
    flex-direction: column;
    margin-top: 10px;
}
.profile-info-quote{
    font-size:12px;
}
.profile-info-h3{
    color:darkblue
}
.profile-details{
    margin:5px
}
.profile-sheet-container{
    display: flex;
}
@media screen and (max-width:995px){
    .profile-info-container{
        display: flex;
        flex-direction:column;
    }
    .profile-sheet-container{
        display:flex;
        flex-direction:column;
    }
}
