.sidebar-container {
  background-color: #020912;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  position: fixed;
}

.sidebar-picture {
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #2c2f3d;
}

.sidebar-container > h1 {
  color: #6d6e7c;
  margin: 0;
  text-align: center;
  margin-top: 20px;
}

.sidebar-icons {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  margin-top: 10px;
}

.sidebar-icons > a {
  padding: 10px;
  background-color: #20232f;
  color: white;
  border-radius: 50%;
  margin: 5px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.sidebar-menu > a {
  text-decoration: none;
  color: #848790;
  margin-top: 20px;
  margin-left: 10%;
}

.sidebar-menu > a:hover {
  color: #429bd4;
}

.sidebar-menu .sidebar-menu-text:hover {
  color: #ffffff;
}

.sidebar-footer {
  color: #ffffff;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
