@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  display: flex;
  min-width: 100%;
}
.info-description {
  padding-left: 20vw;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.my-float {
  margin-top: 1.5em;
}
html {
  scroll-behavior: smooth;
}

.sidebar-menu-btn {
  display: none;
  position: fixed;
}
@media screen and (max-width: 1125px) {
  .sidebar-menu-btn {
    display: flex;
    position: fixed;
    width: 60px;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
}
