<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/profileInfo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <a href="#" class="float">
    <i class="fas fa-arrow-up my-float"></i>
  </a>
  <div class="sidebar-menu-btn">
  <button onclick="setHidden()" ><i class="fas fa-bars"></i></button>
  </div>
  <body style="margin: 0">
    <div class="container">
		<div >
      		<%- include ('../partials/sidebar.ejs') %>
		</div>
    <div class="info-description">
      <div>
            <%- include ('../partials/profileInfo.ejs') %>
      </div>
      <div>
            <%- include ('../partials/profileFact.ejs') %>
      </div>
    </div>
    </div> 
    <script>
      let muc = 0;
      function setHidden() {
          if(muc === 1)
              {
                  document.getElementById("show").setAttribute("id", "hidden")
                  muc = 0
              }
          else
              {
                  document.getElementById("hidden").setAttribute("id", "show")
                  muc = 1
              }
            
      }
  </script>
  </body>

</html>
